* {
    margin: 0;
    padding: 0;
}

body {
    width:100%;
}


.box {
    color: white;
    width: 100px;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50vh;
    margin-bottom: 50vh;
    background: black;
}

.field {
    width: 100%;
    margin: 50px;
}